.modal {
  font-size: 12px;
}
.modal h1 {
  width: 100%;
  border-bottom: 1px solid blue;
  font-size: 18px;
  text-align: center;
  padding-bottom: 8px;
}
.popcontent {
  width: 100%;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.popup-button {
  margin: 10px;
  width: 12vw;
}
.popup-button:hover {
  background-color: #1857df;
}
.close-button:hover {
  background-color: #1857df;
}
.popup-content {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
}
.order-form {
  padding: 20px;
}
.actions {
  display: flex;
  justify-content: center;
  align-content: center;
}
label {
  display: flex;
  justify-content: space-between;
}
select {
  width: 52%;
}
.popinput {
  width: 50%;
  align-self: auto;
}
.posid {
  display: flex;
}
