.App {
  text-align: center;
  background-image: url('./assets/Stock-Market.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
