.login-page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.login-form {
  width: 420px;
  height: 270px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.685);
  color: white;
  border-radius: 5px;
}
[class*='login-input'] {
  background: white;
  outline: none;
  padding: 10px 0;
  border: 0;
  font-size: 1.3rem;
  text-align: center;
}
.login-input-ERROR {
  border-bottom: 2px solid #db4437;
  caret-color: #db4437;
}
.login-btn {
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  background-color: black;
  box-shadow: 3px 4px 7px -4px #000000;
  font-weight: bold;
  color: white;
  cursor: pointer;
  align-self: center;
  outline: none;
}
.login-btn:hover {
  background-color: #1857df;
}
.login-btn:active {
  transform: scale(0.9);
}
.login-a {
  text-decoration: none;
  color: #00000088;
}
.errorBox {
  height: 24px;
}
.input-error-message {
  color: #db4437;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v78/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: #db4437;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
