.header {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  background-color: black;
  font-size: 3vw;
  position: sticky;
  top: 0;
}
.header a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
.headerLinks {
  margin-left: auto;
}
.header h1 {
  color: white;
  margin-top: 14px;
  margin-bottom: 14px;
}
