.trading-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 600px;
  border-radius: 0 0 3px 3px;
}

.stocks-info {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
}

p {
  margin: 0;
}
